:root {
  --blackish: rgba(0, 0, 0, 0.98);
  --gray-dark: #212121;
  --gray-light: rgba(242, 242, 242, 0.6);
  --white: rgba(255, 255, 255, 1);
  --whitish: rgb(225, 225, 225);
  --steel: hsl(184, 18%, 50%);
  --steel-rgb: 105, 147, 150;
  --steel-white: hsl(185, 28%, 95%);
  --steel-very-light: hsl(185, 28%, 88%);
  --steel-light: hsl(185, 18%, 66%);
  --steel-bright: hsl(185, 75%, 33%);
  --steel-bright-rg: 21, 137, 147;
  --steel-dark: hsl(185, 18%, 33%);
  --steel-night: hsl(185, 12%, 12%);
  --neon-green: #59f02b;
  --green: #19d457;
  --green-light: #61f291;
  --green-dark: #198754;
  --jade: #45a164;
  --hunter-green: #405c37;
  --dark-blue: #315db5;
  --blue: #477eed;
  --blue-light: #53d3e0;
  --blue-very-light: #a7f6ff;
  --violet: #9198e5;
  --violet-light: #b4bbff;
  --mauve: #cc71c2;
  --pink: #bf2c7f;
  --purple: #b638f5;
  --sunset: #ff7575;
  --sunset-light: #ffb585;
  --orangered: #fa5f5f;
  --max-red: #de1a1a;
  --yellow: #fad14b;
  --bs-body-color: var(--steel-night);
  --bs-body-color-rgb: 225, 225, 225;
  --bs-body-bg: var(--steel-very-light);
  --bs-body-bg-rgb: 213, 225, 226;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: var(--steel);
  --bs-secondary-color-rgb: var(--steel-rgb);
  --bs-secondary-bg: var(--whitish);
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(173, 181, 189, 0.5);
  --bs-tertiary-color-rgb: 173, 181, 189;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: var(--steel-light);
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: var(--orangered);
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-border-color: var(--steel-dark);
  --bs-border-color-translucent: var(--steel-dark);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
  --bs-font-sans-serif: 'Space Grotesk', Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif;
  --bs-font-monospace: 'Space Mono', monospace;
  --bs-link-hover-color: var(--steel-bright);
  --bs-link-hover-color-rgb: var(--steel-bright-rgb);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-image: radial-gradient(ellipse, var(--steel-dark), var(--steel-night));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.card-title {
  text-shadow: none;
}

.btn-primary {
  --bs-btn-color: var(--steel-white);
  --bs-btn-bg: var(--steel-bright);
  --bs-btn-border-color: var(--steel-dark);
  --bs-btn-hover-color: var(--steel-white);
  --bs-btn-hover-bg: var(--orangered);
  --bs-btn-hover-border-color: var(--max-red);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--steel-white);
  --bs-btn-active-bg: var(--sunset);
  --bs-btn-active-border-color: var(--orangered);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--steel-dark);
  --bs-btn-disabled-bg: var(--steel-night);
  --bs-btn-disabled-border-color: var(--orangered);
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-color: var(--steel-dark);
  --bs-nav-link-hover-color: var(--steel-bright);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
}

.nav-link {
  color: var(--steel);
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
  color: var(--steel-bright);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--steel-bright);
}

a.nav-link:hover,
a.btn:hover {
  text-decoration: none;
}

a:hover {
  color: var(--steel-bright);
  text-decoration: underline;
}

a {
  color: var(--steel);
  text-decoration: none;
}

input,
textarea {
  border: 1px solid var(--steel-dark);
  border-radius: 0.5em;
  padding: 0.35rem 0.5rem;
  background-color: var(--steel-white);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.15em var(--steel-bright);
}