@import "../../../../node_modules/bootstrap/scss/_functions";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/_mixins";

// Overwrite bootstrap sass variables (check _variables for all options)
$enable-negative-margins: true;
$enable-cssgrid: true;
$enable-grid-classes: false;
$font-family-base: 'Space Grotesk', sans-serif;
$navbar-padding-y: $spacer * .1;
$navbar-light-toggler-border-color: rgba($white, 0);
$navbar-dark-toggler-border-color: rgba($white, 0);

$navbar-dark-color:                 hsl(185, 18%, 50%);
$navbar-dark-hover-color:           hsl(185, 18%, 66%);
$navbar-dark-active-color:          hsl(185, 18%, 80%);
$navbar-dark-disabled-color:        hsl(185, 18%, 33%);
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  hsl(185, 18%, 33%);
$navbar-dark-brand-color:           hsl(0, 94%, 67%);
$navbar-dark-brand-hover-color:     hsl(0, 94%, 75%);

@import "../../../../node_modules/bootstrap/scss/bootstrap";

// Load a custom font
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// set theme colors
:root {
--blackish: rgba(0, 0, 0, 0.98);
--gray-dark: #212121;
--gray-light: rgba(242, 242, 242, 0.6);
--white: rgba(255, 255, 255, 1);
--whitish: rgb(225, 225, 225);
--steel: hsl(185, 18%, 50%);
--steel-light: hsl(185, 18%, 66%);
--steel-dark: hsl(185, 18%, 33%);
--neon-green: #59f02b;
--green: #19d457;
--green-light: #61f291;
--green-dark: #198754;
--jade: #45a164;
--hunter-green: #405c37;
--dark-blue: #315db5;
--blue: #477eed;
--blue-light: #53d3e0;
--blue-very-light: #a7f6ff;
--violet: #9198e5;
--violet-light: #b4bbff;
--mauve: #cc71c2;
--pink: #bf2c7f;
--purple: #b638f5;
--sunset: #ff7575;
--sunset-light: #ffb585;
--orangered: #fa5f5f;
--max-red: #de1a1a;
--yellow: #fad14b;
}

$body-top-padding: $line-height-base + ($nav-link-padding-y) * 2;

body {
    padding-top: $body-top-padding;
}